@inherits LayoutComponentBase

<div class="page" dir="rtl">
    <div class="sidebar">
        <NavMenu  >
            <PagesList>
                @foreach (var item in ListPages)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@item.Key">
                            <span class="fas fa-users" aria-hidden="true"></span> @item.Value
                        </NavLink>
                    </div>

                }
            </PagesList>
        </NavMenu>
    </div>

    <main>
        <nav class="navbar navbar-expand-lg " data-bs-theme="dark">
            <div class="container-fluid">
                @* <a class="navbar-brand" href="#">الصفحة الرئيسية</a> *@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navList" aria-controls="navList" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navList">
                    <div class="navbar-nav">
                        <div class="nav-link active" aria-current="page" role="button" @onclick="EmpLoadList">الموظفين</div>
                        <a class="nav-link" href="#">Features</a>
                        <a class="nav-link" href="#">Pricing</a>
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </div>
                </div>
            </div>
        </nav>
        <article class="content px-4">
            <div class="container-fluid row">
                @Body
            </div>
        </article>
    </main>
</div>
